@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

.text-stroke-none {
	text-shadow: none;
}
.text-stroke-darker {
	text-shadow: -1px -1px 0 #9c9c9c, 1px -1px 0 #9c9c9c, -1px 1px 0 #9c9c9c,
		1px 1px 0 #9c9c9c;
}
.text-stroke-light {
	text-shadow: -1px -1px 0 #eaeaea, 1px -1px 0 #eaeaea, -1px 1px 0 #eaeaea,
		1px 1px 0 #eaeaea;
}
.text-stroke {
	text-shadow: -2px -2px 0 #f4f4f4, 2px -2px 0 #f4f4f4, -2px 2px 0 #f4f4f4,
		2px 2px 0 #f4f4f4;
}
html {
	font-family: 'Pretendard';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #101010;
}
body {
	overflow-x: hidden;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px #101010 inset;
	-moz-box-shadow: 0 0 0 100px #101010 inset;
	box-shadow: 0 0 0 100px #101010 inset;
	-webkit-text-fill-color: #eaeaea;
	color: #eaeaea;
	/* change the white to any color */
}
.pause {
	animation-play-state: paused;
}
/* @layer base에 적힌 스타일은 항상 다른 스타일보다 우선된다*/
